<ion-header>
  <ion-toolbar>
    <ion-title>Рынки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <ion-list>
      <ion-item-sliding *ngFor="let market of markets">
        <ion-item>
          <ion-thumbnail>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-col>
                    <h2>{{market.name}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    {{market.description}}
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row justify-content-end>
                  <ion-col text-end>
                    <h2>{{market.overallRate}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row justify-content-end>
                  <ion-col text-end>
                    <span *ngFor="let item of createRange(market.cost)">₽</span>
                  </ion-col>
                </ion-row>
                <ion-row justify-content-end>
                  <ion-col text-end>
                    <span>{{market.distance.toFixed(2)}} км</span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option>Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
